[core]
	editor = code --wait
[user]
	name = gnsbriellh
	email = 106001507+gnsbriellh@users.noreply.github.com
[init]
	defaultBranch = main
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[credential]
	helper = /usr/lib/git-core/git-credential-libsecret
